[2015-08-18 03:35] jovo opened #1 "SSL certification problem"
[code]

-k/--insecure didn't fix

[2015-08-18 03:48] j6k4m8 commented on #1
Interesting. Haven't seen that before. I'll look into it tomorrow, but in
the meantime https://github.com/meteor/meteor#slow-start-for-developers may
help with a manual install.

On Mon, Aug 17, 2015 at 11:35 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-18 03:57] jovo commented on #1
fail :(

On Mon, Aug 17, 2015 at 11:48 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-08-18 04:43] j6k4m8 commented on #1
Your other (untested) alternative is to go to that page and try downloading
the script itself, and then just run it locally

On Mon, Aug 17, 2015, 11:57 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-18 14:23] gkiar commented on #1
strange.... @j6k4m8, the script worked for me except you should replace:

`git@github.com/openconnectome/ocp.me ocp.me`
with
`git@github.com:openconnectome/ocp.me ocp.me`

##

Greg Kiar gkiar07@gmail.com

On Tue, Aug 18, 2015 at 12:43 AM, Jordan Matelsky notifications@github.com
wrote:

[2015-08-18 21:46] willgray opened #2 "Get LIMS system committed to github"

[2015-08-18 21:46] willgray opened #3 "Deploy MeganDB to webserver (using Docker?)"

[2015-08-18 21:47] willgray opened #4 "MongoDB on webserver talking to DSP"

[2015-08-18 22:00] willgray opened #5 "Add data to MeganDB"
Megan to provide a restful endpoint or webpage to put data in MeganDB

[2015-08-19 19:32] jovo opened #6 "make funding page"
so that our bottom bar is as narrow as possible

[2015-08-19 19:33] jovo opened #7 "confirm that all HSSL & w.ocp.me info that is useful is migrated"

[2015-08-20 15:56] jovo opened #8 "OCPeeps"
for each person, i'd like:

- image
- their 'publication name' (eg, Joshua T. Vogelstein)
- role (will should know)
- button links to their stuff, eg, personal web page, github page, linked in page, etc.

[2015-08-20 15:57] jovo opened #9 "bottom bar"
- copyright
- "contact us" button which links to email or forum
- sign up for newsletter button
- twitter "button"
- facebook "button"

[2015-08-20 15:58] jovo commented on #8
also include alumni

jacob
dean
priya
eric
ayushi

[2015-08-20 15:59] jovo opened #10 "assemble ocp "scientific advisory board"?"
- karl
- jeff
- clay
- davi
- milham
- craddock
- rex
- guillermo
- stephen
- konrad
- bobby
- marta
- albert

[2015-08-20 16:08] jovo opened #11 "make "references' embed the mendeley group"

[2015-08-20 16:09] jovo opened #12 "add a card called 'links' to the info page"
keep all the links from the wix or w.ocp page

[2015-08-20 16:10] jovo opened #13 "add a card called 'related pubs'"
maybe we make another mendeley group for related pubs?
in particular, i'm thinking all the code we wrap, and all the data we support,
but aren't co-authors on, should be here.

@willgray what do you think?

[2015-08-20 16:12] jovo opened #14 "make the funding card smaller"
and maybe add logos?

[2015-08-20 16:14] jovo opened #15 "close/migrate all issues from https://github.com/openconnectome/openconnectome.github.io/issues"

[2015-08-20 16:17] jovo opened #16 "if/when name is changed, note the following"
https://help.github.com/articles/renaming-an-organization/

which means that somebody else could create an openconnectome org,
and if they make new repos, they could overwrite our redirects

so, shortly after, we should create an 'openconnectome' org,
with a comment that says our name changed, and a link

[2015-08-20 16:19] jovo commented on #16
better yet, after making the new openconnectome organization,
we can make a new org page
(https://help.github.com/articles/user-organization-and-project-pages/)
which just points to our new page.

[2015-08-20 16:19] jovo opened #17 "make openconnectome organization page"

[2015-08-20 20:44] j6k4m8 commented on #9
We have a newsletter?

[2015-08-20 20:45] #2 closed

[2015-08-20 20:45] j6k4m8 commented on #1
Changed in the readme. Good call!

[2015-08-20 20:45] #1 closed

[2015-08-20 20:46] j6k4m8 commented on #4
Dup of #3.

[2015-08-20 20:46] #4 closed

[2015-08-20 20:46] j6k4m8 commented on #3
@willgray I closed your other issue #4 because once this is live via Docker, the rest kinda already works.

[2015-08-20 20:49] jovo commented on #9
We will!
On Aug 20, 2015 4:44 PM, "Jordan Matelsky" notifications@github.com wrote:

[2015-08-20 20:50] j6k4m8 commented on #8
I'm working on this behind the scenes, FYI. Once I have photos/words for everyone, I'll push :)
- [x] jovo
- [x] will
- [x] jordan
- [x] @randalburns
- [x] @kunallillaney
- [x] @gkiar
- [ ] da
- [ ] kwame
- [x] disa
- [x] ayushi
- [ ] @Aeusman
- [ ] cep

### alum
- [x] brother
- [ ] dean
- [ ] priya
- [ ] eric

Non-exhaustive, feel free to edit but I'll use the wiki peeps site as my master list, t

[2015-08-20 20:51] #6 closed

[2015-08-20 23:48] jovo opened #18 "make 'main' image more tall"
bluecadet.com is a nice template
the main image is the whole page,
you scroll down to see anything else.

[2015-08-20 23:49] jovo opened #19 "in "Browse""
remove the second line,
make 'access' a hyperlink to the access/browse page

[2015-08-20 23:51] jovo opened #20 "make a modality page for each modality"
- [ ] EM
- [ ] AT
- [ ] CLARITY
- [ ] Calcium Imaging
- [ ] MRI (not diffusion MRI)

@willgray can help with text in boxes

note - each modality page should eventually automatically have a 'card' per public project. for now, a manual one is probably fine.

[2015-08-20 23:55] jovo opened #21 "BigDataViewer link"
currently, link goes to their docs page.
@willgray i think maybe a box should appear, that explains how to use BigDataViewer to get OCP data, which i couldn't find on their site

[2015-08-20 23:58] jovo opened #22 "http://ocp.me/exchange/download"
- maybe a radio button to select between public and private tokens
and if public, a dropdown box appears with the options.

- also, no option to specify channel.
for this, a dropbox box listing all channels associated with a token makes sense.

- no option for specifying time, it should appear maybe automatically if a token with time is specified?

- a nice touch would be once you specify a token/

[2015-08-20 23:59] jovo opened #23 "ready to go downloads"
why aren't AC3 and AC4 prepared downloads?

and kristen's annotated cube?

[2015-08-21 00:00] jovo opened #24 "ingest page"

[2015-08-21 00:02] jovo opened #25 "Tools"
has 6 options, according to the MOOC

clicking any of them reveals a box (perhaps), which just has links to each of the corresponding repo's

[2015-08-21 00:02] jovo opened #26 "LONI"
goes to our LONI sphinx docs

[2015-08-21 00:02] jovo opened #27 "Stand Alone AMI"
says "coming soon"

[2015-08-21 00:03] jovo opened #28 "AMI Cluster"
says "coming soon"

[2015-08-21 00:04] jovo opened #29 "Support"
maybe just a box pop's up with two options:

- OCP forum
- Contact us

[2015-08-21 00:05] jovo opened #30 "Web-Services"
- organized as in MOOC
- similar style as the Code card
- for things that don't yet exist, state underneath "coming soon"

[2015-08-21 00:07] jovo opened #31 "Contribute"
- i don't think we need this card.

- maybe the bottom bar has a link to forum & contact?

- definitely, the Info page has links to both forum and contact us

[2015-08-21 00:08] jovo opened #32 "Remove the bar near the bottom which says "Get more Information""

[2015-08-21 00:08] jovo opened #33 "Tools should be Analyze"

[2015-08-21 00:10] jovo opened #34 "Exchange"
"We recommend using CAJAL or ocpy to upload, download, and manipulate neuroscience data.

We also support data download and full-scale data ingest through a web interface."

-->

"We recommend using CAJAL (MATLAB) or ocpy (Python) to upload, download, and manipulate neurodata; but the below web-forms maybe be easier for simple tasks."

[2015-08-21 00:10] jovo opened #35 "Visualize"
the boxes (CATMAID, OCPVIZ, and BIGDATAVIEWER) bottoms aren't aligned with the bottom of the card, i don't want white space *below* the boxes though.

[2015-08-21 00:27] jovo opened #36 "main image should be a movie, and should change between 3 or 4 gifs"
- [ ] a Viz one
- [ ] an exchange one
- [ ] an analyze one
- [ ] a browse one

some ideas:

- browse is an image of multiscale neuroscience, possibly like http://mindblog.dericbownds.net/2014/11/big-data-in-neuroscience.html
but only with modalities that we support,
maybe zooming around or something?
- viz something awesome from rambo3d maybe?
- not clear what to do for exchange, maybe a picture o

[2015-08-21 00:33] jovo opened #37 "Visualize"
- remove "Visit our visualization page for more information."
no need for 'viz' page

- add Graph Explore

- maybe add a link to Gephi for local graph viz?

@willgray thoughts?

[2015-08-21 00:34] jovo opened #38 "info page doesn't have the navbar"

[2015-08-21 00:38] jovo opened #39 "icon is the old favicon, should be the new one"

[2015-08-21 01:45] willgray opened #40 "sphinx pages all not working because of redirects to mri.ocp.me"
Relatively high priority because this breaks all access to our documentation.

Full paths:  openconnectome.github.io/<repo> fails too...

[2015-08-21 01:46] jovo commented on #40
who can fix this?

On Thu, Aug 20, 2015 at 9:45 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-08-21 01:49] wrgr commented on #40
Not sure.  @alexbaden maybe knows?

I'm super unclear what is happening right now with redirects and:

ocp.me
openconnecto.me
openconnectomeproject.org

My hope is there is just a rewrite rule for openconnectome.github.io ->
mri.ocp.me somewhere and we can just remove it and at least the full doc
paths will work again.

Best,
Will

On Thu, Aug 20, 2015 at 9:46 PM, joshua vogelstein <notifications@

[2015-08-21 03:17] alexbaden commented on #40
That's a jordan thing. I just checked dsp029 and there's no mention of
ocp.me anywhere. So, the mri.ocp.me A record probably got changed, and
that's why gh-pages are broken. I'm not sure how you guys set that up in
the first place, so I'm not sure how to fix it.

On another note, we should probably all meet in person before changing
openconnecto.me at all. Our current system is based on hosting th

[2015-08-21 03:23] jovo commented on #40
@alexbaden - good call.  when are you back?

On Thu, Aug 20, 2015 at 11:17 PM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-08-21 03:26] alexbaden commented on #40
Tuesday night. On campus Weds - October. :-)

On Thu, Aug 20, 2015 at 8:24 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-21 03:32] jovo opened #41 "add this to press page"
http://www.genengnews.com/best-of-the-web/open-connectome-project/2963/

[2015-08-21 03:36] ebridge2 opened #42 "Video section"
Have a section for everybody to upload a one or two minute video introducing themself, their interests, hobbies, etc along with a short intro on their research work

[2015-08-21 03:51] jovo commented on #40
ok, let's all meet wed at noon, lunch on me if somebody buys,
and we'll roll to new website?

@willgray @kunallillaney @j6k4m8 @alexbaden - can you all be here for that?

[2015-08-21 03:54] wrgr commented on #40
Giving a talk on images to graphs at APL at noon.  Can we do sometime
Tuesday?  Early/late ok by me.

On Thu, Aug 20, 2015 at 11:51 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-21 03:56] jovo commented on #40
@alexbaden - can you do tues night?

On Thu, Aug 20, 2015 at 11:54 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-08-21 03:57] alexbaden commented on #40
My flight lands at 10pm. :-(

On Thu, Aug 20, 2015 at 8:56 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-21 04:00] jovo commented on #40
@willgray ok, wed afternoon after your talk or thursday?

[2015-08-21 04:01] kunallillaney commented on #40
I can do anytime Tuesday,Wednesday or Thursday.

[2015-08-21 04:02] jovo commented on #40
@all - friday then?

On Fri, Aug 21, 2015 at 12:01 AM, Kunal Lillaney notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-08-21 04:04] kunallillaney commented on #40
@jovo Why not Thursday?

[2015-08-21 04:05] jovo commented on #40
@kunallillaney cuz i can't read :-1:

@willgray wed afternoon or thurs?

[2015-08-21 12:31] gkiar opened #43 "mri links broken"
none of the links on http://www.ocp.me/modalities/mri are alive - I believe the pages are still alive from mr brain unless they've been taken down. @dmhembe would know

[2015-08-21 12:32] gkiar opened #44 "m2g description on main page"
in the code section, the description of m2g should be:
"Multimodal MRI reference pipeline"

[2015-08-21 12:34] gkiar opened #45 "top scrolling on new pages"
going from the main page to, say, http://www.ocp.me/info, the browser doesn't scroll back up so if you were down the page you'll see the bottom of the info page when it loads. perhaps an easy-ish way to reset the scrollbar on link click exists?

[2015-08-21 13:18] jovo commented on #44
@gkiar you can fix this. Just make a pull request. You can update the text on the mri page too :)

[2015-08-21 13:19] jovo opened #46 "Viz and exchange cards"
Look a little weird on my Droid turbo.
Obviously no big deal,  but thought I'd documdnt

[2015-08-21 14:42] jovo commented on #20
by "card" perhaps what i mean is on each modality page,
a dynamically generated _table_ of projects will exist,
with it pre-filtered by modality type.

[2015-08-21 15:28] jovo opened #49 "Clicking an autogen'd image loads ocpviz centered on that image"
in the modalities pages, and the project pages,
clicking on the image actually loaded ocpviz centered on that image :-)

[2015-08-21 16:05] #43 closed

[2015-08-21 16:05] #44 closed

[2015-08-21 20:27] j6k4m8 commented on #41
[Done!](https://github.com/openconnectome/ocp.me/blob/master/client/javascripts/info/links.js#L18) Will roll in the next release.

[2015-08-21 20:27] j6k4m8 commented on #38
The navbar links are local links to items on the homepage... so i nix'd them for sites that weren't the homepage. We can add different links to each page, or I can permalink to the homepage from there?

[2015-08-21 20:30] j6k4m8 commented on #45
hrm. interesting.

[2015-08-21 20:35] j6k4m8 commented on #35
Card shortened appropriately. [code](https://github.com/openconnectome/ocp.me/blob/master/client/templates/home/_visualize.html#L5)

[2015-08-21 20:36] j6k4m8 commented on #46
working on mobile sometime next week; shouldn't be awful to fix.

[2015-08-21 20:39] jovo commented on #38
i see.
well, for the info page, i think the homepage navbar makes sense?
but if you think otherwise, i trust you.

On Fri, Aug 21, 2015 at 4:27 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_Y

[2015-08-21 20:40] jovo opened #50 "OCP is graciously supported by the following awards:"
can remove that sentence from funding card

[2015-08-21 20:46] j6k4m8 commented on #38
Homepage navbar seems reasonable to me — I'll add it in the next roll.

On Fri, Aug 21, 2015 at 4:39 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-21 20:46] j6k4m8 commented on #50
Consider it removed!

On Fri, Aug 21, 2015 at 4:40 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-21 21:12] j6k4m8 commented on #41
rolled.

[2015-08-21 21:24] j6k4m8 commented on #40
This is resolved, correct? e.g. http://openconnectome.github.io/macho/index.html works (though mri.ocp.me/macho -- perhaps rightfully -- no longer works)

[2015-08-21 21:25] j6k4m8 commented on #23
They're in the works!

[2015-08-21 21:33] j6k4m8 commented on #23
@willgray I just finished compressing AC3 and AC4 (they're in `compressed/` in my dir on bg1) but I'm not sure where they're supposed to live...

[2015-08-21 21:34] j6k4m8 commented on #39
where does the new favicon live?

[2015-08-21 21:36] j6k4m8 commented on #26
http://openconnectome.github.io/ocpdocs/sphinx/loni.html ?

[2015-08-21 21:37] #38 closed

[2015-08-21 21:37] #41 closed

[2015-08-21 21:37] #50 closed

[2015-08-21 21:40] jovo commented on #40
do we want all of our docs to live at things like

 http://openconnectome.github.io/macho/index.html

or do we prefer

http://<ournewsitename>/macho/index

?

On Fri, Aug 21, 2015 at 5:24 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%4

[2015-08-21 21:41] jovo commented on #23
@willgray - how about

/data/public/cutouts

as the place to keep all of them?

On Fri, Aug 21, 2015 at 5:33 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-08-21 21:42] jovo commented on #39
usually all that stuff lives here:
https://drive.google.com/open?id=0By_9m7n8XhYKfmJFNTdwUnQ5ZUtpT29rVU12Y1ZCS2sxMEhERXhaMFh4NUFySTlQbFpVYjQ

On Fri, Aug 21, 2015 at 5:34 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.g

[2015-08-21 21:43] jovo commented on #26
yup,  still a stub, @willgray will migrate content from
http://w.ocp.me/tools:loni
or will delegate :)

On Fri, Aug 21, 2015 at 5:36 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-08-21 21:49] j6k4m8 commented on #18
aw crap... didn't realize that commit messages as `resolve ##` actually closed issues...

[2015-08-21 21:51] j6k4m8 commented on #5
until we implement authorization, this needs to be done manually from the commandline (to prevent people "updating" projects that are not theirs). I'm happy to do this, I just need access to wherever it lives.

@alexbaden if you're cool with this living on brainapps I can probably handle it

[2015-08-21 22:14] wrgr commented on #40
Hmm...the index autoresolves, so just:
http://openconnectome.github.io/macho

Adding redirects once we have them is a fine idea - I think it's
conceptually and practically great to host pages on the gh-pages address;
that is, the openconnectome.github.io... link is the real hosting location.

Best,
Will

On Fri, Aug 21, 2015 at 5:40 PM, joshua vogelstein <notifications@github.com

[2015-08-21 22:15] jovo commented on #35
are these `done` issues "pushed"?

[2015-08-21 22:16] #34 closed

[2015-08-21 22:16] #33 closed

[2015-08-21 22:16] #32 closed

[2015-08-21 22:16] wrgr commented on #23
That's a fine idea.  We need to think about how we want to identify each
cutout in the raw cutout area.

Also, there's an argument that for small regions, we should be encouraging
the use of webform, cajal or ocpy.  No real benefit to cache
ac3/ac4/kristen's data?  Only for big stuff.  People lose all the metadata
this way, and it's also a problem because the projects get updated, and
regularly pu

[2015-08-21 22:17] #19 closed

[2015-08-21 22:17] #18 closed

[2015-08-21 22:18] jovo commented on #35
@j6k4m8 maybe don't worry about this until we decide whether to add
- Graph Explore, and
- Gephi

here, cuz if so, this gets re-arranged a bit

[2015-08-21 22:21] jovo commented on #40
ok, you decide best practice and let's do that.

On Fri, Aug 21, 2015 at 6:14 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-08-21 22:21] j6k4m8 commented on #39
it may take some time for your cache to clear and the browser to see the new favicon

[2015-08-21 22:22] jovo commented on #23
ok, i don't have a strong opinion on how it works,
but i'd like people to be able to download AC3 and AC4 by clicking a button.

On Fri, Aug 21, 2015 at 6:16 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=Am

[2015-08-21 22:23] j6k4m8 commented on #35
worrying has been later'd. let me know when to re-worry this

in the meantime: the done tag means on-the-server-ready-for-your-perusal.
Just realized this one didn't push, i just re-added it and it'll be in the
next release.

On Fri, Aug 21, 2015 at 6:18 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-21 22:25] j6k4m8 commented on #23
i have 1.8G of ac (per, not total), i believe

On Fri, Aug 21, 2015 at 6:22 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-21 22:27] wrgr commented on #23
We'll sort this out on Tuesday as part of our cajal/ocpy discussion?

Best,
Will

On Fri, Aug 21, 2015 at 6:25 PM, Jordan Matelsky notifications@github.com
wrote:

[2015-08-21 22:28] j6k4m8 commented on #23
sounds good to me

On Fri, Aug 21, 2015 at 6:28 PM William Gray notifications@github.com
wrote:

[2015-08-21 22:29] jovo commented on #23
you are making a list?

On Fri, Aug 21, 2015 at 6:27 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-08-21 22:48] wrgr commented on #26
@gkiar - can you help with this?  Probably need screenshots and/or a rewrite.  Part of  ocpdocs sphinx, which has no imports or code to autodoc

[2015-08-21 22:49] wrgr commented on #40
Ok.  Each sphinx site should be hosted on gh-pages

We should add redirects for each tool, so that we have:  ocp.me/<tool>
that points to the gh-pages site (with masking if available.)

Best,
Will

On Fri, Aug 21, 2015 at 6:21 PM, joshua vogelstein <notifications@github.com

[2015-08-21 22:51] jovo commented on #40
@willgray - ok, claim or delegate :)

On Fri, Aug 21, 2015 at 6:49 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-08-21 22:54] wrgr commented on #40
Yah - this is currently assigned to @j6k4m8.  I think that's right.  We need redirects for each of the boxes on the cards under analyze that points to a sphinx site.  I think Jordan is the guy for redirects.  If not, then @j6k4m8 should assign as appropriate.  Sites all exist in their gh-pages location, currently.

[2015-08-21 23:21] j6k4m8 commented on #40
this is going to be a client-side-level redirect if it's done through the
meteor app (which is probably best for the sake of maintainability)...
which is to say that the URL bar will change to the github.io page. That ok?

On Fri, Aug 21, 2015 at 6:54 PM William Gray notifications@github.com
wrote:

[2015-08-21 23:43] jovo commented on #40
i support whatever works, certainly for now.

On Fri, Aug 21, 2015 at 7:21 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=e2ktu4lrgul8anp8hclrcminp8%40group.calendar.google.com&ctz=America/New_York

[2015-08-21 23:58] wrgr commented on #40
Great!
On Fri, Aug 21, 2015 at 7:43 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-22 21:51] #26 closed

[2015-08-22 21:51] jovo opened #51 "migrate LONI info from w.ocp.me to ocp.me"
@gkiar feel free to delegate :)

[2015-08-22 21:52] jovo commented on #39
still is the old one for me

[2015-08-22 21:56] jovo opened #52 "maybe exchange should have 4 buttons"
| download | ingest |
---- | ------------- | ----------
| images |  |
| graphs |  |

@willgray @j6k4m8 what do you guys think?

[2015-08-22 21:58] jovo opened #53 "maybe visualize should have 4 boxes too"
| Web | Local |
---- | ------------- | ----------
| images |  |
| graphs |  |

@willgray @j6k4m8 what do you guys think?

[2015-08-22 21:59] wrgr commented on #52
what about:

download  upload  (maybe clearer than ingest - people upload data, we
ingest it)

images
data derivatives

or

images
annotations
graphs

Best,
Will

On Sat, Aug 22, 2015 at 5:56 PM, joshua vogelstein <notifications@github.com

[2015-08-22 22:02] wrgr commented on #53
consistency is important - no reason to make people learn things a bunch of times.  so i like parallel layouts between visualize, exchange, analyze...

![ocptools - what does ocp do- 2](https://cloud.githubusercontent.com/assets/884780/9426082/f0708bbe-48f7-11e5-9ae5-80be283a934f.png)

[2015-08-22 22:24] jovo commented on #52
isn't the way they upload/download images vs. annotations the same?
meaning that a link for either would go to the same place?
if not, then i support.

[2015-08-22 22:26] wrgr commented on #52
I'll talk with Kunal this week - assign this to me.  Currently I think
image ingest is a distinct process.  Mainly because "ingest" doesn't deal
with RAMON-type metadata.  I don't know if his services can support paint
or not.  The underlying HDF5 queries are very similar, although different
datatypes...

Best,
Will

On Sat, Aug 22, 2015 at 6:24 PM, joshua vogelstein <notifications@github.com

[2015-08-22 22:47] jovo commented on #52
i'm happy with download & upload.

annotations are images with metadata,
graphs are not images.

[2015-08-22 22:51] jovo commented on #53
i support web & local for viz & upload & download.

analyze also gets cluster (ie, analytics framework).

"A foolish consistency is the hobgoblin of small minds."

[2015-08-22 23:03] wrgr commented on #52
Ok, let me take a shot at this.  Agree we need images and graphs.  Maybe
something in-between.  We might also think of images, metadata, and
graphs.  I'll play and try something out.

On Sat, Aug 22, 2015 at 6:47 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-22 23:05] wrgr commented on #53
roger that.  I find lots of quotes in favor of consistency, but hard to
compete with emerson.

On Sat, Aug 22, 2015 at 6:51 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-23 21:23] wrgr commented on #37
Agree!
On Thu, Aug 20, 2015 at 8:33 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-25 02:12] jovo opened #54 "enabling big data neuroscience"
should be:

"enabling data-driven neuroscience"

[2015-08-25 02:14] jovo opened #55 "make everything lowercase"
(maybe not the navbar, TBD).  discuss?

[2015-08-25 02:19] jovo opened #56 "clicking navbar should visually scroll down, rather than jump down"

[2015-08-25 02:20] jovo opened #57 "if its not too hard, make scrolling cover up old sections (like on the JHU site)"

[2015-08-25 02:20] jovo opened #58 "update mission"
The primary motivating force behind the Open Connect​ome Project is to make state-of-the-art neuroscience open to anybody with computer access, regardless of knowledge, training, or background. Open science means open to view, play, analyze, contribute… anything.

change first "open" to "accessible" and replace "with computer access" with "with internet access"

[2015-08-25 02:23] jovo opened #59 "remove "What is OCP" box"

[2015-08-25 02:24] jovo opened #60 "on "About" page, remove "About OCP" text"

[2015-08-25 02:24] jovo opened #61 "change "Info" page to "About" page"

[2015-08-25 02:43] jovo opened #62 "change "access" to "browse" and "brain-" to "neuro""

[2015-08-25 02:44] jovo commented on #20
@willgray i can help.
i think we probably also want to list modality specific publications in each modality page.

[2015-08-25 02:45] jovo opened #63 "on the "browse" page, if we are keeping it through launch"
organize repo's into columns, 5 columns, 1 per modality

[2015-08-25 02:54] jovo opened #64 "Utilize?"
maybe visual/upload/download all becomes "Utilize"

and then, there are 3 cards, one for {viz,up,down},
and within each, there are two boxes (stacked on top of each other),
for {images,graphs} (maybe a third for image-annotations, though, then we would probably also want a 4th for graph annotations.

then, clicking any of the boxes, for viz, the options are presented in a pop-up box.
for upload/do

[2015-08-25 02:54] jovo opened #65 "for each top level org (eg, Browse)"
make the "sentence" be on the same line as the main word, just in smaller font?

[2015-08-25 02:55] jovo opened #66 ""Visualize, annotate, or analyze existing datasets using various OCP Tools.""
remove first 3 words

[2015-08-25 02:55] jovo opened #67 "navbar consistent across all pages, highlights (eg, bold) the sub-menu we are on."

[2015-08-25 02:56] #53 closed

[2015-08-26 02:06] jovo commented on #58
The primary motivating force behind NeuroData is to make state-of-the-art neuroscience accessible to anybody with internet access, regardless of knowledge, training, or background. Open science means open to view, play, analyze, contribute… anything.

We are interested in all scales of neuroscience, from the nano (using electron microscopy) to the macro (using magnetic resonance imaging). We (and

[2015-08-26 02:06] jovo commented on #58
@j6k4m8 please update mission.

[2015-08-27 16:12] jovo opened #68 "figure out back up plan when web server is down."
@alexbaden has thoughts

[2015-08-27 16:40] jovo opened #69 "change name of repo to neurodata.io when it is convenient to do so."

[2015-08-27 17:20] j6k4m8 commented on #57
will do, but takes a few hours to fine-tune and make it compat' with old browsers... probably a project for post-launch, unless it's higher priority>

[2015-08-27 17:22] jovo commented on #57
definitely post launch.

On Thu, Aug 27, 2015 at 1:20 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=vk2j3ugqcitvq223g7ivvq4hqo%40group.calendar.google.com&ctz=America/New_York

[2015-08-27 18:02] j6k4m8 commented on #37
gephi link plz?

[2015-08-27 18:03] wrgr commented on #37
http://gephi.github.io/

Best,
Will

On Thu, Aug 27, 2015 at 2:02 PM, Jordan Matelsky notifications@github.com
wrote:

[2015-08-27 18:09] #3 closed

[2015-08-27 18:09] j6k4m8 commented on #3
https://github.com/openconnectome/ocpmeta/issues/2

[2015-08-27 18:09] j6k4m8 commented on #5
https://github.com/openconnectome/ocpmeta/issues/1

[2015-08-27 18:09] #5 closed

[2015-08-27 18:10] j6k4m8 commented on #55
define everything. text, or just titles?

[2015-08-27 18:14] jovo commented on #55
i think i mean everything.
like, no caps anywhere.

On Thu, Aug 27, 2015 at 2:10 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=vk2j3ugqcitvq223g7ivvq4hqo%40group.calendar.google.com&ctz=America/New_York

[2015-08-27 18:37] #52 closed

[2015-08-27 18:38] #46 closed

[2015-08-27 18:39] #40 closed

[2015-08-27 18:40] #39 closed

[2015-08-27 18:40] #35 closed

[2015-08-27 18:45] jovo opened #70 "organize docs page the way that the MOOC is organized for code"
tell @j6k4m8 when complete

[2015-08-27 18:46] jovo commented on #21
we need to make a page (maybe sphinx) that explains how to use BigDataViewer with our stuff, because it is not documented anywhere

[2015-08-27 18:47] jovo opened #71 "make pop-ups work (after other stuff)"

[2015-08-27 18:47] #17 closed

[2015-08-27 18:48] jovo commented on #16
@j6k4m8 recommends just making neurodata a new org, forking, and the old ones will note that they are defunkt.

[2015-08-27 19:13] wrgr commented on #16
won't people forget/have a hard time with this?

If I git pull github.com/openconnectome/cajal, I will never know
neurodata.io exists and is more up to date.

Best,
Will

On Thu, Aug 27, 2015 at 2:48 PM, joshua vogelstein <notifications@github.com

[2015-08-27 19:14] wrgr commented on #21
I can be responsible for this.  In general, going forward, recommend that
authors of tools document tools to be included.  We are still in beta, so
makes sense this way, I think.

I might check with stephan and see if he has something somewhere.

Best,
Will

On Thu, Aug 27, 2015 at 2:46 PM, joshua vogelstein <notifications@github.com

[2015-08-27 20:52] jovo commented on #16
i thought we'd say that it is depricated.
another option is to say that it is depricated, and delete all the content.
open to better suggestions.

On Thu, Aug 27, 2015 at 3:13 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=vk2j3ugqcitvq223g7ivvq4hqo%40group.calendar

[2015-08-27 20:55] j6k4m8 commented on #16
i'd recommend deleting and changing readme to a link to the new page

On Thu, Aug 27, 2015 at 4:52 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-27 21:06] jovo commented on #16
"deleting" all content, but leaving repo, yes?

On Thu, Aug 27, 2015 at 4:55 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=vk2j3ugqcitvq223g7ivvq4hqo%40group.calendar.google.com&ctz=America/New_York

[2015-08-27 21:07] jovo opened #72 "neurodata.io doesn't load in my office"
https://www.dropbox.com/s/vhb5r1sa37hnmx5/Screenshot%202015-08-27%2017.06.32.png?dl=0

maybe a hopkins networking thing.
probably effects other jhu computers.

@alexbaden

[2015-08-27 21:13] alexbaden commented on #72
Perhaps a DNS resolution issue?

abaden@ambp:~$ ping neurodata.io

PING neurodata.io (50.63.202.58): 56 data bytes

I would think it should have the IP 128.220.176.7 .

On Thu, Aug 27, 2015 at 5:08 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-27 21:16] jovo commented on #72
PING neurodata.io (128.220.176.7): 56 data bytes

Request timeout for icmp_seq 0

Request timeout for icmp_seq 1

On Thu, Aug 27, 2015 at 5:13 PM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=vk2j3ugqcitvq223g7ivvq4hqo%40group.calendar.google.com&ctz=America/New_York

[2015-08-27 21:18] alexbaden commented on #72
But ocp.me works? Possibly an issue in the nginx config...
s/possibly/probably/ :-)

Alex

On Thu, Aug 27, 2015 at 5:17 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-27 21:21] jovo commented on #72
ocp.me works.

On Thu, Aug 27, 2015 at 5:18 PM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, office hours
https://www.google.com/calendar/embed?src=vk2j3ugqcitvq223g7ivvq4hqo%40group.calendar.google.com&ctz=America/New_York

[2015-08-27 21:34] j6k4m8 commented on #16
Right -- so if you clone, you get a text file that's like NOPE

On Thu, Aug 27, 2015 at 5:06 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-27 21:35] j6k4m8 commented on #72
i accuse hopkins dns

On Thu, Aug 27, 2015 at 5:21 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-27 21:37] wrgr commented on #72
at home.  not vpn'ed.  doesn't work.   :)

Best,
Will

On Thu, Aug 27, 2015 at 5:35 PM, Jordan Matelsky notifications@github.com
wrote:

[2015-08-27 21:39] wrgr commented on #16
NOPE.  WE HAVE DISABLED YOUR ACCESS TO DATA-DRIVEN NEUROSCIENCE.

Best,
Will

On Thu, Aug 27, 2015 at 5:34 PM, Jordan Matelsky notifications@github.com
wrote:

[2015-08-27 21:43] alexbaden commented on #72
I think I fixed it. Give it an hour and try again.

On Thu, Aug 27, 2015 at 5:37 PM William Gray notifications@github.com
wrote:

[2015-08-28 19:23] jovo opened #73 "copyright should say neurodata?"

[2015-08-28 21:53] j6k4m8 commented on #14
should i hunt down logos, or just leave it as it currently is?

[2015-08-28 21:53] j6k4m8 commented on #21
Should I wait on text for this?

[2015-08-28 21:56] wrgr commented on #21
Yup. I sent a note requesting same.
On Fri, Aug 28, 2015 at 5:54 PM Jordan Matelsky notifications@github.com
wrote:

[2015-08-28 21:56] j6k4m8 opened #74 "Main Page for all neurodata documentation"
- https://help.github.com/articles/setting-up-a-custom-domain-with-github-pages/
- docs.neurodata.io

@alexbaden @willgray @jovo

[2015-08-28 22:09] j6k4m8 commented on #29
this is now all in the footer. still want a popup?

[2015-08-28 22:21] #15 closed

[2015-08-28 22:37] j6k4m8 commented on #30
done-ish... needs some help on the docs side before all of the links make sense.

[2015-08-28 22:38] j6k4m8 commented on #9
@gkiar can you PR a link to the newsletter? or give me a signup link and I'll add?

[2015-08-28 22:39] j6k4m8 commented on #72
alex's changes should be DNS-propagated by now, if this is still an issue, let me know

[2015-08-28 22:40] j6k4m8 commented on #63
will do once metadb is live...

[2015-08-28 22:41] j6k4m8 commented on #42
this seems like a #8 sort of question...

[2015-08-28 22:43] gkiar commented on #9
https://groups.google.com/a/neurodata.io/d/forum/announce

is where the newsletter lives. You want me to PR it to a button or is this
ok?

##

Greg Kiar gkiar07@gmail.com

On Fri, Aug 28, 2015 at 6:38 PM, Jordan Matelsky notifications@github.com
wrote:

[2015-08-28 22:43] wrgr commented on #42
Enumerate what you need and I'll help? I can probably tell you most of what
you are missing.
On Fri, Aug 28, 2015 at 6:41 PM Jordan Matelsky notifications@github.com
wrote:

[2015-08-28 22:51] j6k4m8 commented on #68
i think this is more @alexbaden than myself, since this is a brainapps question and is out-of-scope for neurodata.io?

[2015-08-28 22:54] j6k4m8 commented on #42
Mostly just want to punt on this one until the team page is A Thing...
sounds like a lot of work for pre-SfN

On Fri, Aug 28, 2015 at 6:43 PM William Gray notifications@github.com
wrote:

[2015-08-28 22:55] j6k4m8 commented on #9
perff. pushing it now.

On Fri, Aug 28, 2015 at 6:43 PM Greg Kiar notifications@github.com wrote:

[2015-08-28 22:55] #66 closed

[2015-08-28 22:56] jovo commented on #62
access still says access

[2015-08-28 22:56] jovo commented on #62
brain- still says brain-

[2015-08-28 22:56] jovo commented on #61
info still says info

[2015-08-28 22:56] #60 closed

[2015-08-28 22:56] #59 closed

[2015-08-28 22:57] #58 closed

[2015-08-28 22:57] #56 closed

[2015-08-28 22:57] #54 closed

[2015-08-28 22:57] jovo commented on #37
this is dead based on our convo yesterday.

[2015-08-28 22:57] #37 closed

[2015-08-28 22:58] #31 closed

[2015-08-28 23:00] jovo commented on #30
close, let's talk in person next week.  maybe monday around 4?

[2015-08-28 23:00] #28 closed

[2015-08-28 23:00] #27 closed

[2015-08-28 23:04] jovo commented on #14
leave.

On Fri, Aug 28, 2015 at 5:53 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, calendar
https://www.google.com/calendar/embed?src=afr9t36kknt629jh4omun20n90%40group.calendar.google.com&ctz=America/New_York

[2015-08-28 23:04] jovo commented on #74
docs.neurodata.io doesn't work for me.

On Fri, Aug 28, 2015 at 5:56 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, calendar
https://www.google.com/calendar/embed?src=afr9t36kknt629jh4omun20n90%40group.calendar.google.com&ctz=America/New_York

[2015-08-28 23:06] jovo commented on #29
no

On Fri, Aug 28, 2015 at 6:09 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, jovo.me, calendar
https://www.google.com/calendar/embed?src=afr9t36kknt629jh4omun20n90%40group.calendar.google.com&ctz=America/New_York

[2015-08-28 23:06] #63 closed

[2015-08-28 23:07] #42 closed

[2015-08-28 23:09] #73 closed

[2015-08-28 23:11] #29 closed

[2015-08-28 23:12] #14 closed

[2015-08-28 23:13] #9 closed

[2015-08-29 20:09] jovo opened #75 "start making mailing lists"
- [x] @gkiar please do jhu@neurodata.io
http://w.ocp.me/other:people lists everyone, and mostly everyone's email address.
please also add carey & minh

- [x] @gkiar please also do power@neurodata.io, to include eva, kwame, anish, eric, will, alex, kunal, jordan, anybody else you can think that actually uses our services and cares when shit goes down

- [ ] @jovo start making google sheet for annou

[2015-08-30 01:01] jovo opened #76 "make postdoc ad"
"Neurodata invites outstanding candidates to apply for a postdoctoral or assistant research scientist position in the area of statistical machine learning for big brain imaging data. Our workflow is tightly vertically integrated, ranging from raw data analysis to statistical theory to answering neuroscience questions and back again. Along the way, we develop new scalable methods (ideally with prov

[2015-08-30 02:39] jovo opened #77 "do we want to install a jupyter docker on brainapps?"
https://hub.docker.com/r/jupyter/jupyterhub/

might make sharing analyses with each other and others way easier?

@j6k4m8 @willgray @alexbaden @gkiar have any comments?

[2015-08-30 02:50] j6k4m8 commented on #77
I'm very on board. Dont know what's involved logistically but it seems like
a smart move, even if just for internal use.

Though I can see mooc using it as well, plus it's an awesome way of
documenting common user stories

On Sat, Aug 29, 2015, 10:39 PM joshua vogelstein notifications@github.com
wrote:

[2015-08-30 19:11] ronboger commented on #72
yeah can't access it either on the DMC computers

[2015-08-30 19:44] j6k4m8 commented on #72
not sure what to tell you, aside from spam the clear-cache button in chrome
and pray that your DNS clears _its_ cache in the near future... can you
ping?

On Sun, Aug 30, 2015 at 3:11 PM ron boger notifications@github.com wrote:

[2015-08-30 20:12] ronboger commented on #72
100% packet loss on ping

[2015-08-30 20:13] alexbaden commented on #72
Can you do an nslookup?

On Sun, Aug 30, 2015 at 4:12 PM ron boger notifications@github.com wrote:

[2015-08-31 19:26] jovo commented on #72
still doesn't work @alexbaden

Last login: Thu Aug 20 09:23:43 on ttys000
metatron:~ jovo$ ping neurodata.io
PING neurodata.io (128.220.176.7): 56 data bytes
Request timeout for icmp_seq 0
Request timeout for icmp_seq 1
Request timeout for icmp_seq 2
Request timeout for icmp_seq 3
Request timeout for icmp_seq 4
Request timeout for icmp_seq 5
Request timeout for icmp_seq 6
Request timeout for icmp_

[2015-08-31 19:28] wrgr commented on #72
works for me!  at home.

Best,
Will

On Mon, Aug 31, 2015 at 3:26 PM, joshua vogelstein <notifications@github.com

[2015-08-31 19:32] alexbaden commented on #72
Pretty sure this is a JHU firewall / network routing issue. I reached out
to our guy there. Right now, neurodata.io should work on JHU wifi and
outside of JHU, but not on JHU wired connections. Please correct me if I'm
wrong so I can pass the right info to networking.

On Mon, Aug 31, 2015 at 3:28 PM William Gray notifications@github.com
wrote:

[2015-08-31 19:32] j6k4m8 commented on #72
I think we decided this was a Hopkins firewall issue?

i.e. wired connections on campus = not good

On Mon, Aug 31, 2015 at 3:28 PM William Gray notifications@github.com
wrote:

[2015-08-31 19:32] j6k4m8 commented on #72
Ah, Alex beat me to it...

On Mon, Aug 31, 2015 at 3:32 PM Jordan Matelsky j6k4m8@gmail.com wrote:

[2015-09-02 10:39] willgray opened #78 "docs configuration"
All,

How should we organize our docs?  We have a bunch of sphinx sites:

openconnectome
ocptilecache
m2g.io
i2g.io
cajal
macho
manno

etc.

I like the idea of using ocpdocs -> neurodatadocs -> docs? as a main landing page for users (docs.neurodata.io?), with links everywhere.  Might be nice to have some other pages directly linked as well.

@j6k4m8 @jovo @kunallillaney @alexbaden @gkiar

[2015-09-02 14:26] kunallillaney commented on #78
+1

[2015-09-02 16:14] kunallillaney opened #79 "A link to create account and console login page."

[2015-09-02 21:11] jovo commented on #78
+1.

I vote org within that is like the websige/mooc
On Sep 2, 2015 10:26 AM, "Kunal Lillaney" notifications@github.com wrote:

[2015-09-02 22:38] wrgr commented on #78
Great!  So then, can we forward docs.neurodata.io to
openconnectome.github.io/docs ?

I feel like it's a CNAME thing.  Jordan kept telling me what to do, but I
got...redirected.  (ha!)

Help?

docs.neurodata.io should go to the openconnectome.github.io/docs site
openconnectome.github.io/vesicle (and others) should still resolve to their
own sites if at all possible, when typed directly.  (Maybe th

[2015-09-08 15:18] alexbaden commented on #72
Fixed.

[2015-09-08 15:18] #72 closed

[2015-09-16 19:05] jovo opened #80 "urgently update funding"
we can chat today about what i mean, it is simple, but important

[NSF_Vogelstein_currentpend_2015_Sep.docx | uploaded via ZenHub](https://files.zenhub.io/55f9bd4de67df47a51f10610)

[2015-09-24 17:48] jovo opened #81 "add links to swag ;)"
http://shop.neurodata.io

[2015-09-24 21:30] j6k4m8 opened #82 "add modalities text"
add AT text [here](https://github.com/openconnectome/neurodata.io/blob/master/client/templates/modalities/at/home.html#L9), EM [here](https://github.com/openconnectome/neurodata.io/blob/master/client/templates/modalities/em/home.html#L9), [clarity](https://github.com/openconnectome/neurodata.io/blob/master/client/templates/modalities/clarity/home.html#L9), and [this](https://github.com/openconnect

[2015-09-24 21:31] j6k4m8 commented on #77
@alexbaden do you mind if i do this? if that's cool with you, give me an ip/port combo that i can use and i'll set it up

[2015-09-27 16:11] jovo opened #83 "needs to be done by wed 9AM"
- [x] "Access" is called "Browse"
- [x] make sure all projects links work (they don't now)
- [x] all modalities pages need content (@jovo action)
- [x] visualize/exchange "bar" changes as discussed, ie, 3 cards, each with 2 buttons, one called "images" and one called "graphs"
  - visualize - images links to http://openconnecto.me/catmaid/, graphs links to ge.neurodata.io
  - upload  - link to imag

[2015-09-27 16:36] jovo commented on #83
videos that would be awesome to convert to gifs,
(googling yielded several seemingly adequate tools):
and be cycling instead of that somewhat creepy picture of a head
(note that credit must be given on each, possibly the easiest way would be to just list credits at the bottom of the page?)

### Array Tomography videos (pick one)
- [ ] https://www.youtube.com/watch?v=WRhfuFOU2sg
- [ ] https://www.y

[2015-09-27 16:46] wrgr commented on #83
For EM, stuff from the cell paper directly (supplementary videos) - might
be simpler to convert.  I think that basically these are just different
versions of the same thing, but without the post-production/embedding.

On Sun, Sep 27, 2015 at 12:36 PM joshua vogelstein notifications@github.com
wrote:

[2015-09-27 17:09] jovo commented on #82
- EM coming soon should be replaced with the list of EM projects
- AT doesn't have a coming soon, just the 1 project, which is right
- CLARITY should still have a coming soon
- MRI doesn't have a coming soon.

i updated all the main text paragraphs, and hopefully didn't break anything else.

@j6k4m8 fixes coming soon's, and then this one is done.

[2015-09-27 17:20] #78 closed

[2015-09-27 17:39] #70 closed

[2015-09-27 17:39] #69 closed

[2015-09-27 17:40] #65 closed

[2015-09-27 17:40] #64 closed

[2015-09-27 17:40] jovo commented on #51
@willgray is this done?

[2015-09-27 17:40] #30 closed

[2015-09-27 17:41] #16 closed

[2015-09-27 17:41] #20 closed

[2015-09-27 17:41] #22 closed

[2015-09-27 17:41] #23 closed

[2015-09-27 17:42] #24 closed

[2015-09-27 17:42] #25 closed

[2015-09-27 17:42] #36 closed

[2015-09-27 17:42] #49 closed

[2015-09-27 17:43] wrgr commented on #51
nope - owed from @gkiar - if that's not good, we can reevaluate

[2015-09-27 17:43] #80 closed

[2015-09-27 17:48] #68 closed

[2015-09-27 17:50] gkiar commented on #51
Forgot I owned this. Sorry about that. Do we want it somewhere on
neurodata.io or actually on http://docs.neurodata.io/nddocs/ ?

##

Greg Kiar gkiar07@gmail.com

On Sun, Sep 27, 2015 at 1:43 PM, William Gray notifications@github.com
wrote:

[2015-09-27 17:51] #7 closed

[2015-09-27 17:51] #11 closed

[2015-09-27 17:51] #12 closed

[2015-09-27 17:51] #55 closed

[2015-09-27 17:51] #57 closed

[2015-09-27 17:51] #61 closed

[2015-09-27 17:51] #62 closed

[2015-09-27 17:51] #67 closed

[2015-09-27 17:51] #71 closed

[2015-09-27 17:51] #74 closed

[2015-09-27 17:51] #77 closed

[2015-09-27 17:51] #79 closed

[2015-09-27 17:51] #81 closed

[2015-09-27 17:52] #13 closed

[2015-09-27 17:53] wrgr commented on #51
Not yet done.   I think nddocs.  Just make a new md page?

[2015-09-27 17:53] jovo opened #84 "a bunch of minor things"
- [x] finish main page for all neurodata docs @willgray
- [x] link to console from 'upload/ingest' page @j6k4m8
- [x] change access to browse and 'brain' to 'neuro' @j6k4m8
- [x] change 'info' to 'about' @j6k4m8

- [x] install jupyter docker on brainapps @j6k4m8
- [ ] navbar consistent across all pages, highlights (eg bold) the submenu we are on @j6k4m8
- [x] migrate everything from HSSL & w.ocp.m

[2015-09-27 17:55] jovo commented on #51
i put a bunch of issues into 1 bigger issue,
i fear that the list was so long it scared people
maybe a bad idea
just experimenting...

On Sun, Sep 27, 2015 at 1:53 PM, William Gray notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, medhacks http://medhacks.org/, calendar
https://www.google.com/calendar/embed?src=afr9t36kknt629jh4omun20n90%40group.ca

[2015-09-27 18:11] #51 closed

[2015-09-29 16:02] j6k4m8 commented on #83
access _should_ be called browse, or is but shouldn't? (that is, change it to access or change it to browse?)

[2015-09-29 16:07] j6k4m8 commented on #83
and what info from each of the attached grants should i include..? sorry, just not sure what the correct protocol is for listing these, they don't have the same sort of serial numbers we already list

[2015-09-29 16:11] jovo commented on #83
change access to browse. sorry for confusion.

On Tue, Sep 29, 2015 at 12:02 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, medhacks http://medhacks.org/, calendar
https://www.google.com/calendar/embed?src=afr9t36kknt629jh4omun20n90%40group.calendar.google.com&ctz=America/New_York

[2015-09-29 16:24] jovo opened #85 "funding should be organized as follows"
all info listed below, organized as follows.
sometimes there is no grant #.
note that i need all this info for my cv,
so i'd like in the future to easily be able to add new info here,
and also my cv.
not sure that matters, but thought i'd put that out there.

### any public document (talk, poster, paper)

\cventry{5/15 -- 5/18}{From Rags to Riches: Utilizing Richly Attributed Graphs}{N66001-15-C-4

[2015-09-29 16:25] jovo commented on #83
just gave you new funding direction

On Tue, Sep 29, 2015 at 12:11 PM, joshua vogelstein jovo@jhu.edu wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, medhacks http://medhacks.org/, calendar
https://www.google.com/calendar/embed?src=afr9t36kknt629jh4omun20n90%40group.calendar.google.com&ctz=America/New_York

[2015-09-30 00:08] j6k4m8 commented on #85
let's talk at some point about clever ways of syncing up CV and HTML. I never found any good way of mixing LaTeX and HTML, and eventually settled for [html alone](http://jordan.matelsky.com/resume/) (judge thee not the poor state of my neurodata entry; i've been busy...)

I wrote a setup that auto-PDFs my resume whenever there's a change ([PDF](http://jordan.matelsky.com/resume/Jordan-Matelsky-Res

[2015-09-30 01:10] j6k4m8 commented on #85
html also lets you do cool stuff like [this](http://jordan.matelsky.com/resume/#beta) (click and drag in the grey to change specificity (y axis) and topic <med-tech> (x-axis))

[2015-09-30 01:13] jovo commented on #83
@willgray i think for @j6k4m8 to finish this nddocs needs to have at least the top level structure (code & web-services)

[2015-09-30 01:19] j6k4m8 commented on #85
should be [resolved](http://neurodata.io/about)

[2015-09-30 01:23] wrgr commented on #83
Confused - is the google doc the same as what you sent before?  I figured
out markdown and sphinx and have a local working copy.  Should I just push?

On Tue, Sep 29, 2015 at 9:13 PM joshua vogelstein notifications@github.com
wrote:

[2015-09-30 01:24] jovo commented on #83
oh, yes, please push

[2015-09-30 02:16] jovo opened #86 "more stuff that would be great to be done soon"
- [x] navbar should say: {Browse, Capabilites, About}
- [x] remove "Analyze existing...."
- [x] under web-services:
  - "Open-Connectome" should read "Neuroimage Services" and should link to appropriate place in nddocs
  - "MRI Graph Services" --> "mri2graphs"
 - mri2graphs should be the bottom, not the 2nd one.
- [x] bottom bar
  - [x] support links to support forum (@gkiar can provide link?)
  -

[2015-09-30 04:16] jovo commented on #85
hmm...interesting....i'm curious to learn how you did that.
the html page is weird, i can't select things and such....

On Tue, Sep 29, 2015 at 9:19 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
openconnecto.me, medhacks http://medhacks.org/, calendar
https://www.google.com/calendar/embed?src=afr9t36kknt629jh4omun20n90%40group.calendar.googl

[2015-09-30 14:36] j6k4m8 commented on #85
^ by design.

well, actually more by "i wonder how to disable selection" than by design

[2015-10-04 03:04] #85 closed

[2015-10-04 03:16] jovo commented on #76
[postdoc.pdf](https://github.com/openconnectome/neurodata.io/files/7260/postdoc.pdf)

please put a link to this pdf in a bar at the top of the page?

[2015-10-06 21:51] gkiar opened #87 "fix word cloud background and circle"
& make people page find-able (i.e. no link to it currently exists)

![neuropeep](https://cloud.githubusercontent.com/assets/4883288/10324878/2c461eca-6c5b-11e5-9735-1dcf6d609c61.png)

[2015-10-08 02:00] aksimhal opened #88 "Links at bottom of homepage"
The link to twitter/google groups at the bottom of neurodata.io still link to the old ocp stuff

[2015-10-09 19:13] j6k4m8 commented on #76
"John Hopkins U" ^ in the pdf

[2015-10-09 19:16] j6k4m8 commented on #76
otherwise, ad is there, neurodata.io/hiring will exist in a few seconds.

[2015-10-09 19:17] j6k4m8 opened #89 "add links to swag"
- [ ] make swag links (@gkiar - can you make the swag links public and post url's here?)
- [ ] link to them

[2015-10-09 19:18] j6k4m8 commented on #84
removed swag link task, excised to #89 so we can close this without waiting on making links for swag.

[2015-10-09 19:18] j6k4m8 commented on #87
no link currently exists because i don't have pictures for everyone... help would be lovely, but otherwise we can just push this!

[2015-10-09 19:21] j6k4m8 commented on #88
thanks for catching that! fixed :)

[2015-10-09 19:21] #88 closed

[2015-10-09 19:29] j6k4m8 opened #90 "events "bar""
- [X] sfn
- [x] hackathon: hack.neurodata.io
- [x] bigneuron: neurodata.io/bigneuro2015

[2015-10-09 19:30] j6k4m8 opened #91 "sfn booth page"

[2015-10-09 19:30] j6k4m8 commented on #86
the contact-form popup means we need an SMTP server...or a mailgun setup or something. but no matter what, it's probably going to change once we have someone else writing our code.

[2015-10-09 19:41] kunallillaney commented on #84
A link to the token creation console.

[2015-10-09 19:46] j6k4m8 commented on #82
https://github.com/openconnectome/neurodata.io/blob/master/client/templates/modalities/calcium/home.html#L10

@jovo

[2015-10-09 20:09] #83 closed

[2015-10-09 20:10] jovo commented on #84
@alexbaden what is the status on moving HSSL to brainapps?
i'm closing this issue. feel free to open again.

[2015-10-09 20:10] #84 closed

[2015-10-09 23:02] jovo commented on #87
Skip pics. Let's just push with word cloud.
On Oct 9, 2015 3:19 PM, "Jordan Matelsky" notifications@github.com wrote:

[2015-10-09 23:03] #91 closed

[2015-10-11 04:17] kunallillaney opened #92 "Add a small list of all the supported tools"
@jovo We should have a list of all the supported tools - VAST, BigDataViewer, Ilastik, VIKING, KNOSSOS, and more. Sort of say that if you fell comfortable using any of the tools above then you can still use the data stored here.

[2015-10-11 04:18] jovo commented on #92
i believe @willgray claimed this?

[2015-10-14 17:03] #90 closed

[2015-10-14 17:04] jovo commented on #87
@j6k4m8 i did it!
but there is a dumb white background and circle that i don't know how to take away :(

[2015-10-14 17:04] #75 closed

[2015-10-14 17:04] #76 closed

[2015-10-14 17:04] #82 closed

[2015-10-14 17:05] #8 closed

[2015-10-14 17:19] #86 closed

[2015-10-14 17:22] jovo commented on #21
i am closing this link.
@willgray create a github issue for me to check docs, maybe with a list that we can update so i can incrementally check them off as appropriate?

[2015-10-14 17:22] #21 closed

[2015-10-14 17:28] jovo opened #93 "tiny webpage stuff"
- [x] "Visualize", "Upload" and "Download" look the same as "Code" (in particular, gray bar in "header"
- [x] update footer:
  - [x] make twitter button really a twitter icon, and remove the word "twitter"
  - [x] add link to facebook
 - [x] add link to blog (with blogger favicon?)
 - [x] add link to swag (with customink logo)
- [x] link to pdf in postdoc ad goes to the wrong pdf, it goes to the o

[2015-10-14 17:28] #87 closed

[2015-10-15 03:19] jovo commented on #86
they can post on the support forum, no need to email us.

[2015-10-15 15:30] gkiar commented on #93
customink doesn't allow you to link your design for anyone to purchase. The
pens were ordered internally. The stickers is the same as customink - the
design is private.

##

Greg Kiar gkiar07@gmail.com

On Wed, Oct 14, 2015 at 1:28 PM, joshua vogelstein <notifications@github.com

[2015-10-15 15:43] j6k4m8 commented on #93
^that's re #89

[2015-10-15 15:44] j6k4m8 commented on #45
ignoring this for now... i know what's causing it and it's going to be a pain to fix...

[2015-10-15 15:44] #45 closed

[2015-10-15 15:44] gkiar commented on #93
ah, yes, there is a small button in this one too though :)

##

Greg Kiar gkiar07@gmail.com

On Thu, Oct 15, 2015 at 11:43 AM, Jordan Matelsky notifications@github.com
wrote:

[2015-10-15 15:46] jovo commented on #93
@gkiar custom-ink says you can share the design, and they will send a link to a specified email address.  then, we can use that link to share with anybody we want, and they can buy it if they want

[2015-10-15 15:55] gkiar commented on #93
The purchase would be a group order through us, though. I don't want to be
in the loop.
On Oct 15, 2015 11:47, "joshua vogelstein" notifications@github.com wrote:

[2015-10-16 02:31] jovo commented on #93
they disagree.  send me credentials to log in, i'll check into it.

[2015-10-22 23:34] jovo commented on #93
@gkiar link?

[2015-10-22 23:38] gkiar commented on #93
http://www.customink.com/designs/neurodata/nxa0-00ab-4tvx/social?cm_cat=google&cm_ite=neurodata&cm_pla=share&cm_ven=social

##

Greg Kiar gkiar07@gmail.com

On Thu, Oct 22, 2015 at 7:34 PM, joshua vogelstein <notifications@github.com

[2015-10-28 14:27] jovo commented on #92
this is elsewhere now. i suck at gihub, so i won't link to it, though i should.

[2015-10-28 14:27] #92 closed

[2015-10-29 21:33] alexbaden opened #94 "fix viz urls for all the public projects"
http://neurodata.io/projects

@j6k4m8 -- I'm going to write some code in ocpviz to help w/ this. I'll send you a new URL format.

[2015-10-31 22:57] jovo opened #95 "auto-deploy after pushing"
or instructions for how to push

[2015-11-03 03:16] #89 closed

[2015-11-06 01:17] jovo opened #96 "images"
- [ ] scroll through these graphics also on homepage
![humanperformance_700x320_v1](https://cloud.githubusercontent.com/assets/41842/10681102/e22e8db8-78f3-11e5-99e2-026767cd9e9d.jpg)
![mr_700x320_v1](https://cloud.githubusercontent.com/assets/41842/10681103/e55fbdb8-78f3-11e5-87e9-f1edd8ade037.jpg)

[2015-11-06 01:18] jovo commented on #93
@j6k4m8 please spend the next 10 minutes that you are working on neurodata stuff working on this issue.  thank you.

[2015-11-08 05:36] j6k4m8 commented on #93
will do — the only real time-consuming one is DLing AC3/4. @willgray do you know if we have these on bg1?

[2015-11-08 05:41] jovo commented on #93
i'm fairly sure they are there. or somewhere else like that

On Sun, Nov 8, 2015 at 12:36 AM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io

[2015-11-08 17:34] wrgr commented on #93
I have them. What format? Or do you just want tokens and bounds? Let's
enumerate data samples to share with one click and which format we prefer?
On Sun, Nov 8, 2015 at 12:41 AM joshua vogelstein notifications@github.com
wrote:

[2015-11-08 17:45] jovo commented on #93
1. in terms of which data samples to share, i trust your judgement, so long as it includes AC3 & AC4.
2. in terms of how to deliver them, i'd say a zip file contain a png or tiff stack, also containing a readme with a link to the jupyter notebook that scripts downloading the cutout including RAMON objects? i realize this step might be more time consuming that just putting up another tiff stack, so

[2015-11-10 23:10] wrgr commented on #93
1.  ok
2.  More confusing - in that raw data from the server generally won't come
   as tiff/png files, but wrapped in HDF5 and converted downstream.  We can do
   either/both - I think what you want is a zip file and a jupyter notebook
   that at least corresponds to the data (if not the format) for each zip
   file.  If we do this, I need help knowing where we should put all of these
   jupyter

[2015-11-10 23:40] jovo commented on #93
Do 1.
We can discuss 2 later..

[2015-11-11 13:43] jovo commented on #93
ps - its 1 jupyter notebook, where the user specifies which of the several
ready made cutouts he/she wants, and in which format, and it does
everything.  this should not be overly burdensome to support.  let's make a
git issue specifically to create this notebook, and we'll get to it at some
point (maybe hackathon, maybe later).

On Tue, Nov 10, 2015 at 6:10 PM, William Gray notifications@github.c

[2015-11-13 03:38] #94 closed

[2015-11-13 03:39] jovo opened #97 "why is the repo 660 MB?"
seems....unnecessary?
no need to fix, i'm just curious.

[2015-11-15 05:47] ronnyb29 opened #98 "fix ico"
current ico isn't transparent, making note for myself to fix

[2015-11-15 21:54] j6k4m8 commented on #97
we push a site-ready version of the repo through git so that it's a one-liner to set up on the server. definitely not necessary, but hasn't been a priority to fix in light of other bigger issues. Will eventually resolve, I promise!

[2015-11-15 21:56] jovo commented on #97
i don't mind, i was just curious, because their is not that much content.

[2015-11-15 21:56] #97 closed

[2015-11-16 13:02] j6k4m8 commented on #93
pulling the ready-to-go's into their own issue, closing this with your approval!

[2015-11-16 13:03] j6k4m8 opened #99 ""ready to go" should include AC3 & AC4"
@willgray halp

[2015-11-16 13:12] j6k4m8 commented on #93
![image](https://cloud.githubusercontent.com/assets/693511/11182559/a9ec0d3c-8c39-11e5-897d-0e972cc2c50b.png)

![image](https://cloud.githubusercontent.com/assets/693511/11182562/ae67da08-8c39-11e5-9cc2-08cddbff74fb.png)

![image](https://cloud.githubusercontent.com/assets/693511/11182570/b4b99bda-8c39-11e5-9099-64da04ccb780.png)

[2015-11-16 13:13] #93 closed

[2015-11-16 13:16] jovo commented on #95
@alexbaden can you explain to me & @j6k4m8 how to do this?

[2015-11-16 16:47] ronboger commented on #98
@jovo can you add me as a contributor so i can push the fix?

[2015-11-16 19:22] jovo commented on #98
pull request and i'll merge.

On Mon, Nov 16, 2015 at 11:47 AM, ron boger notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io

[2015-11-19 00:01] alexbaden opened #100 "update graph explorer url"
@jovo @j6k4m8

128.220.176.8/Graph-Explorer/shiny/

[2015-11-20 12:33] jovo commented on #100
i update repo.  i can't roll because i don't have log in credentials nor do i know which url to ssh into.

@alexbaden

[2015-11-20 17:21] alexbaden commented on #100
@j6k4m8

[2015-11-20 22:05] jovo commented on #100
@j6k4m8 this is you again, for some reason :-)

[2015-11-20 22:31] alexbaden commented on #100
I don't know how to do it. We should maybe document it internally?

On Fri, Nov 20, 2015 at 5:08 PM joshua vogelstein notifications@github.com
wrote:

[2015-11-22 14:36] wrgr commented on #99
@j6k4m8 - should I just send you coordinates?  Or a tar file?

[2015-11-22 14:42] willgray opened #101 "Download page needs channel option"
Currently only images are supported...all we need to do is add a channel and tweak the restful call.  @j6k4m8

[2015-11-22 15:25] wrgr commented on #99
I think this is sufficient - I just don't know how you want to save the volumes and where to post them.  @j6k4m8  - resolve or tell me how?

ac4_image = oo.get_cutout('kasthuri11cc', 'image', 4400, 5424, 5440, 6464, 1100, 1200, resolution=1)

ac4_synapses = oo.get_cutout('ac3ac4', 'ac4_synapse_truth', 4400, 5424, 5440, 6464, 1100, 1200, resolution=1)

ac4_neurons = oo.get_cutout('ac3ac4', 'ac4_neu

[2015-11-30 01:28] jovo commented on #100
done.

[2015-11-30 01:28] #100 closed

[2015-11-30 01:33] willgray opened #102 "alias console"
Alias:
 http://openconnecto.me/ocp/ocp/accounts/login/

To:

console.neurodata.io

[2015-12-02 21:03] #95 closed

[2015-12-03 16:53] j6k4m8 commented on #102
http://console.neurodata.io/ :)

[2015-12-03 16:53] #102 closed

[2015-12-03 16:54] #99 closed

[2015-12-03 16:54] j6k4m8 commented on #98
does this exist?

[2015-12-03 19:32] ronboger commented on #98
yes... my bad i didn't see jovos comment. the better ico is used for jovo.me,
i'll PR later today

On Mon, Nov 16, 2015 at 2:22 PM, joshua vogelstein <notifications@github.com

[2015-12-15 19:30] jovo opened #103 "minor updates to webpage"
- [x]  link to vector explorer on nd page
- [x] create vx.nd & gx.nd maybe ix.nd links
- [ ] modalities sub-pages
- [ ] get nd.ai

[2015-12-16 17:10] #10 closed

[2015-12-16 17:11] jovo commented on #10
moved here: https://github.com/openconnectome/datasets/issues/15

[2015-12-30 22:58] jovo opened #104 "overall and indivdual project pages"
main project page should just be the table in here:
https://github.com/openconnectome/ocp-journal-paper/tree/dataset-image-table/Results/Tables/Table1

reference should link to the neurodata project page,
that page should contain the subtable corresponding to all the appropriate rows of this table,
the link to each dataset should go to http://ix.neurodata.io/token/

right?
not to be completed now,

[2015-12-31 16:24] jovo commented on #98
i did it.

[2015-12-31 16:24] #98 closed

[2015-12-31 16:25] jovo opened #105 "vx.neurodata.io currently links to: http://shiny.neurodata.io/data-analytics-website/Code/"
but i moved it to be consistent with Graph-Explorer to:
http://shiny.neurodata.io/Vector-Explorer/

but i don't know how to re-route it.
thanks, j

[2016-01-04 16:57] alexbaden commented on #105
Fixed. Had to update nginx config on dsp029.

[2016-01-04 16:57] #105 closed

[2016-01-04 20:31] jovo commented on #105
love it.

On Mon, Jan 4, 2016 at 11:57 AM, Alex Baden notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io

[2016-01-10 22:24] #103 closed

[2016-01-19 03:13] jovo opened #106 "add google analytics tracking code"
@j6k4m8 how do we do this on this site?

[2016-01-19 05:59] jovo opened #107 "add links to {BME,CIS,ICM,IDIES,CS,AMS,WSE}@JHU"

[2016-01-22 22:00] jovo opened #108 "fixed some typos in _visualize.html"
but didn't dare push!

[2016-01-28 03:02] jovo commented on #108
@j6k4m8 bump

[2016-01-28 20:24] j6k4m8 commented on #108
so let it be done!

[2016-01-28 20:24] #108 closed

[2016-02-17 19:58] j6k4m8 opened #109 "requesting admin access"
@jovo — can @alexbaden and I grab admin access to this repo for deploy stuff?

[2016-02-17 22:57] jovo commented on #109
granted.

On Wed, Feb 17, 2016 at 2:58 PM, Jordan Matelsky notifications@github.com
wrote:

##

the glass is all full:  half water, half air.
neurodata.io

[2016-02-20 20:57] j6k4m8 commented on #109
#swag

thanks!

[2016-02-20 20:57] #109 closed

[2016-02-29 17:11] jovo commented on #106
@j6k4m8 @alexbaden

[2016-03-21 18:25] jovo opened #113 "can we point neurodata.io to openconnecto.me services"
ie, whatever openconnecto.me points to?

admittedly, it might be complicated?
if so, let's discuss.

@j6k4m8 @alexbaden @kunallillaney

[2016-04-27 03:49] #107 closed

[2016-07-06 14:50] willgray opened #117 "remove link to precached downloads"
These are no longer available and are confusing people.  Thanks!

[2016-07-31 14:29] alexbaden commented on #117
Can you send me a URL path, just so I'm sure I'm killing the right thing? Thanks!